<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column sidebar-style">
      <li class="nav-item mt-2">
        <a class="nav-link <%= nameSidebar == 'overview' ? ' active' : '' %>" href="/projects/overview/<%= projectid %>">
          <i class="fas fa-tachometer-alt mr-4"></i>
          Overview <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item my-2">         
        <a class="nav-link <%= nameSidebar == 'activity' ? ' active' : '' %>" href="/projects/activity/<%= projectid %>"><i class="fas fa-chart-line mr-4"></i> Activity </a>
      </li>
      <li class="nav-item my-2">
        <a class="nav-link <%= nameSidebar == 'members' ? ' active' : '' %>" href="/projects/members/<%= projectid %>"><i class="fas fa-users mr-4"></i> Members </a>
      </li>
      <li class="nav-item my-2">
        <a class="nav-link <%= nameSidebar == 'issues' ? ' active' : '' %>" href="/projects/issues/<%= projectid %>"><i class="fas fa-exclamation-triangle mr-4"></i> Issues </a>
      </li>
    </ul>
  </div>
</nav>