<%- include('../../../partials/header-details.ejs') %> 
<%- include('../../../components/navbar') %>

<div class="container-fluid">
  <div class="row">
<%- include('../../../components/sidebar') %>
    

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div
        class="
          d-flex
          justify-content-between
          flex-wrap flex-md-nowrap
          align-items-center
          pt-3
          pb-2
          mb-3
          border-bottom
        "
      >
        <h1 class="h2">Overview</h1>
      </div>
      <div class="card">
        <div class="card-body">
          <p>Issue Tracking</p>
          <ul>
            <li>Bug: 0 Open / 0</li>
            <li>Feature: 2 Open / 6</li>
            <li>Support: 1 Open / 1</li>
          </ul>
        </div>
      </div>
      <div class="card card-members-styling">
        <div class="card-body">
          <p>Members</p>
          <ul>
            <% data.forEach(item => { %> 
            <li><%= item.firstname %> <%= item.lastname %> </li>
            <% }) %> 
          </ul>
        </div>
      </div>
    </main>
  </div>
</div>
<%- include('../../../partials/footer-details.ejs') %>
