<%- include('../../../partials/header-details.ejs') %> 
<%- include('../../../components/navbar') %>

<div class="container-fluid">
  <div class="row">
    <%- include('../../../components/sidebar') %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div
        class="
          d-flex
          justify-content-between
          flex-wrap flex-md-nowrap
          align-items-center
          pt-3
          pb-2
          mb-3
          border-bottom
        "
      >
        <h1 class="h2">Add member</h1>
      </div>
      <form action="" class="form-horizontal" method="POST">
        <div class="d-flex">
          <div class="p-2">Members</div>
          <div class="p-2 option-checkbox">
            <% data.forEach(item => { %> 
            <div class="custom-control custom-checkbox">
              <input
                name="userid"
                type="checkbox"
                class="custom-control-input"
                id="<%= item.userid %>"
                value="<%= item.userid %>"
              />
              <label class="custom-control-label" for="<%= item.userid %>"><%= item.firstname %> <%= item.lastname %> </label>
            </div>
            <% }) %> 
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </main>
  </div>
</div>


<%- include('../../../partials/footer-details.ejs') %>

