<%- include('../../../partials/header-details.ejs') %> <%-
include('../../../components/navbar') %>

<div class="container-fluid">
  <div class="row">
    <%- include('../../../components/sidebar') %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div
        class="
          d-flex
          justify-content-between
          flex-wrap flex-md-nowrap
          align-items-center
          pt-3
          pb-2
          mb-3
          border-bottom
        "
      >
        <h1 class="h2">New Issues</h1>
      </div>
      <div class="card pr-4">
        <div class="card-body pr-4">
          <form action="" class="form-horizontal" method="POST" id="form-add" enctype="multipart/form-data">
            <div class="form-group">
            <div class="row mb-4">
              <div class="col-sm-2">Tracker</div>
              <div class="col-sm-10">
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    name="tracker"
                    id="tracker"
                    value="Bug"
                    class="custom-control-input"
                  />
                  <label for="tracker" class="custom-control-label">Bug</label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    name="tracker"
                    id="feature"
                    value="Feature"
                    class="custom-control-input"
                  />
                  <label for="feature" class="custom-control-label"
                    >Feature</label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    name="tracker"
                    id="support"
                    value="Support"
                    class="custom-control-input"
                    disabled
                  />
                  <label for="support" class="custom-control-label"
                    >Support</label
                  >
                </div>
              </div>
            </div>
          </div>
            <div class="form-group">
              <div class="row mb-4">
                <label for="subject" class="control-label col-sm-2">Subject</label>
                <input type="text" id="subject" name="subject" class="form-control col-sm-10" placeholder="Subject">
              </div>
            </div>
            <div class="form-group mb-4">
              <div class="row">
                <label for="description" class="control-label col-sm-2">Description</label>
                <textarea name="description" id="description" class="form-control col-sm-10" placeholder="Description .. " cols="10" rows="3"></textarea>
              </div>
            </div>
            <div class="form-group mb-4">
              <div class="row">
                <div class="col-sm-2">Status</div>
                <div class="col-sm-10">
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      name="status"
                      id="new"
                      value="New"
                      class="custom-control-input"
                    />
                    <label for="new" class="custom-control-label">New</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      name="status"
                      id="inprogress"
                      value="In Progress"
                      class="custom-control-input"
                      disabled
                    />
                    <label for="inprogress" class="custom-control-label">In Progress</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      name="status"
                      id="resolved"
                      value="Resolved"
                      class="custom-control-input"
                      disabled
                    />
                    <label for="resolved" class="custom-control-label">Resolved</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      name="status"
                      id="feedback"
                      value="Feedback"
                      class="custom-control-input"
                      disabled
                    />
                    <label for="feedback" class="custom-control-label">Feedback</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      name="status"
                      id="closed"
                      value="Closed"
                      class="custom-control-input"
                      disabled
                    />
                    <label for="closed" class="custom-control-label">Closed</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      name="status"
                      id="rejected"
                      value="Rejected"
                      class="custom-control-input"
                      disabled
                    />
                    <label for="rejected" class="custom-control-label">Rejected</label>
                  </div>

                </div>
              </div>
            </div>
            <div class="form-group mb-4">
              <div class="row">
                <div class="col-sm-2">Priority</div>
                <div class="col-sm-10">
                  <div class="custom-control custom-radio">
                    <input type="radio" id="normal" name="priority" value="Normal" class="custom-control-input">
                    <label for="normal" class="custom-control-label">Normal</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="high" name="priority" value="High" class="custom-control-input">
                    <label for="high" class="custom-control-label">High</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="urgent" name="priority" value="Urgent" class="custom-control-input">
                    <label for="urgent" class="custom-control-label">Urgent</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="immediate" name="priority" value="Immediate" class="custom-control-input">
                    <label for="immediate" class="custom-control-label">Immediate</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row mb-4">
                <label for="assignee" class="control-label col-sm-2">Assignee</label>
                <select name="assignee" id="assignee" class="custom-select col-sm-10">
                  <% data.forEach(item => { %> 
                  <option value="<%= item.userid %>"><%= item.firstname %> <%= item.lastname %> </option>
                  <% }) %> 
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="row mb-4">
                <label for="startdate" class="control-label col-sm-2">Start Date</label>
                <input type="date" id="startdate" name="startdate" class="form-control col-sm-10" placeholder="Startdate">
              </div>
            </div>
            <div class="form-group">
              <div class="row mb-4">
                <label for="duedate" class="control-label col-sm-2">Due Date</label>
                <input type="date" id="duedate" name="duedate" class="form-control col-sm-10" placeholder="Startdate">
              </div>
            </div>
            <div class="form-group">
              <div class="row mb-4">
                <label for="estimatedtime" class="control-label col-sm-2">Estimated Time</label>
                <input type="number" step="any" id="estimatedtime" name="estimatedtime" class="form-control col-sm-10" placeholder="Startdate">
              </div>
            </div>
            <div class="form-group">
              <div class="row mb-4">
                <label for="done" class="control-label col-sm-2">% done</label>
                <select name="done" id="done" class="custom-select col-sm-10">
                  <option value="0">0</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                  <option value="60">60</option>
                  <option value="70">70</option>
                  <option value="80">80</option>
                  <option value="90">90</option>
                  <option value="100">100</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="row mb-4">
                <label for="files" class="control-label col-sm-2">Files</label>
                <input type="file" id="files" name="files" class="form-control col-sm-3" placeholder="Subject" required/>
              </div>
            </div>
            <div class="row" id="button-add">
              <div class="col-sm-2"></div>
              <div class="col-sm-3"><button type="button" id="button-add-first" onclick="add()" class="btn btn-primary btn-plus-styling" ><i class="fas fa-plus"></i></button></div>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Add</button>
          </form>
        </div>
      </div>
    </main>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $('#form-add').on( "click", ".btn-delete", function() {
   console.log(
     $(this).parents().parents().parents().html()) ;
});
})
    var input = `  <div class="row-add form-group">
                    <div class="row mb-4">
                      <label class="control-label col-sm-2"></label>
                      <input type="file" name="files" class="form-control col-sm-3" placeholder="Subject" required />
                      <button type="button" class="btn btn-primary btn-plus-styling ml-4 btn-delete"><i class="fas fa-minus"></i></button>
                     </div>
                  </div>`
                  
    function add(){
      $("#button-add").before(input)
    }          
</script>

<%- include('../../../partials/footer-details.ejs') %>
