<%- include('../partials/header') %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/projects">Project Management System</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/projects"
          >Projects <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
    </ul>
    <a
      href="/logout"
      class="btn btn-outline-success my-2 my-sm-0 d-flex justify-content-end"
      >Logout</a
    >
  </div>
</nav>
<br />
<h1>Projects</h1>
<br />
<h3>Filter</h3>
<form class="form-horizontal" action="" method="get">
  <input type="hidden" name="page" value="1" />

  <div class="form-group">
    <input
      type="checkbox"
      id="checkId"
      onclick="check()"
      <%= findId ? ' checked' : '' %> 
    />
    <label class="control-label col-sm-2" for="string">ID :</label>
    <div class="col-sm-4">
      <input
        type="number"
        class="form-control"
        name="findId"
        id="findId"
        value="<%= findId %>"
        <%= findId ? '' : ' disabled' %> 
      />
    </div>
  </div>
  <div class="form-group">
    <input type="checkbox" id="checkName" onclick="check()" <%= findName ? ' checked' : '' %>/>
    <label class="control-label col-sm-2" for="integer">Name :</label>
    <div class="col-sm-4">
      <input
        type="text"
        class="form-control"
        name="findName"
        id="findName"
        value="<%= findName %>"
        <%= findName ? '' : ' disabled' %> 
      />
    </div>
  </div>
  <div class="form-group">
    <input type="checkbox" id="checkMembers" onclick="check()"<%= findMember ? ' checked' : '' %>/>
    <label for="member" class="control-label col-sm-2">Member :</label>
    <div class="col-sm-2">
      <select name="findMember" id="findMember" class="custom-select col-sm-10" <%= findMember ? '' : ' disabled' %> >
        <option value="">Find Member ...</option>
        <% names.forEach(item => { %> 
        <option value="<%= item.userid %>" <%= findMember == item.userid ? ' selected' : '' %>><%= item.firstname %></option>
        <% }) %> 
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-search">Find</button>
      <a href="/projects" class="btn btn-warning btn-reset">Reset</a>
    </div>
  </div>
</form>

<form action="/projects" class="form-horizontal" method="post">
  <div class="options">
    <h3>Options</h3>
  </div>
  <div class="d-flex">
    <div class="p-2">Columns</div>
    <div class="p-2 option-checkbox">
      <div class="custom-control custom-checkbox">
        <input name="projectid" type="checkbox" class="custom-control-input"
        id="id-option" <%= options["projectid"] ? ' checked' : '' %>/>
        <label class="custom-control-label" for="id-option">ID</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input
          name="name"
          type="checkbox"
          class="custom-control-input"
          id="name-option"
          <%= options["name"] ? ' checked' : '' %>
        />
        <label class="custom-control-label" for="name-option">Name</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input
          name="members"
          type="checkbox"
          class="custom-control-input"
          id="members-option"
          <%= options["members"] ? ' checked' : '' %>
        />
        <label class="custom-control-label" for="members-option">Members</label>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Apply</button>
</form>

<div class="table-data">
  <table class="table table-striped">
    <tr>
      <% if(options["projectid"]){ %>
      <th class="id-data">#</th>
      <% } %> 
      <% if(options["name"]){ %>
      <th class="name-head">Name</th>
      <% } %>
       <% if(options["members"]){ %>
      <th class="member-head">Member</th>
      <% } %>

      <th>Action</th>
    </tr>
    <tr>
      <% data.forEach((item, index) => { %> <% if(options["projectid"]){ %>
      <td class="id-data">
        <a href="#"><%= item.projectid %></a>
      </td>
      <% } %> <% if(options["name"]){ %>
      <td class="name-data"><%= item.name %></td>
      <% } %> <% if(options["members"]){ %>
      <td class="member-data"><%= item.members %></td>
      <% } %>
      <td>
        <a href="/projects/edit/<%= item.projectid %>" class="btn btn-success">Edit</a>
        <a href="/projects/delete/<%= item.projectid %>" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    <% }) %>
  </table>
</div>

  <div>
    <a href="/projects/form" class="btn btn-primary">Add</a>
  </div>
  <div class="justify-content-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item <%= page > 1 ? '' : 'disabled' %> ">
          <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${page - 1}`)%>">Previous</a>
        </li>
        <% for(let i = 1; i <= jumlahHalaman; i++){ %> 
        <li class="page-item <%= page == i ? 'active' : '' %> "><a class="page-link" href="<%= url.replace(`page=${page}`, `page=${i}`) %>"><%= i %> </a></li>
        <% } %> 
        <li class="page-item <%= page < jumlahHalaman ? '' : 'disabled' %> ">
          <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${page + 1}`)%>">Next</a>
        </li>
      </ul>
    </nav>
  </div>



<script>
  function check(){
    const checkId = document.getElementById("checkId")
    const checkName = document.getElementById("checkName")
    const checkMembers = document.getElementById("checkMembers")

    if(checkId.checked == true){
      document.getElementById("findId").disabled = false
    }else {
      document.getElementById("findId").disabled = true
    }
    if(checkName.checked == true){
      document.getElementById("findName").disabled = false
    }else {
      document.getElementById("findName").disabled = true
    }
    if(checkMembers.checked == true){
      document.getElementById("findMember").disabled = false
    }else{
      document.getElementById("findMember").disabled = true
      
    }
  }
</script>
<%- include('../partials/footer') %>
